/* 
 *Import Google fonts 
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*
 *Reset margin and padding
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
 *Common Style Start
 */
body {
	font-family: "Poppins", sans-serif;
}

.center {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.margin {
	margin-top: 50px;
}
.container {
	width: 1321px;
}
.width-50 {
	width: 50%;
}
#active-btn {
	background: #dd0000;
	color: #fff;
}
.bg-color {
	background: #1e1e1e;
}
.bg-color-2 {
	background-color: #fff;
}
hr {
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.btn {
	display: inline-block;
	width: 252px;
	text-align: center;
	padding: 16px 25px;
	font-weight: 400;
	font-size: 20px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	color: #161616;
}
/*
 *Common Style End
 */

/*
 *banner Section Style Start
 */
.radius {
	border-radius: 10px;
}

/*
  *banner text 
  */
.banner {
	display: flex;
}
.banner-title {
	padding: 110px 0 110px 105px;
	animation: banner-title 3s;
}
.title {
	color: #fff;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
}
.sub-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	padding-top: 20px;
}
.icon {
	margin-left: 10px;
}
.icon i {
	font-weight: 600;
	font-size: 20px;
}
/*
 *banner image
 */
.banner-image img {
	width: 581px;
	height: 613px;
	margin: 33px 80px 0 0;
	animation: banner-img 3s;
}
/*
 *banner Animation
 */
@keyframes banner-title {
	0% {
		transform: translatex(400px);
		opacity: 0;
	}

	100% {
		transform: translatex(0px);
		opacity: 1;
	}
}
@keyframes banner-img {
	0% {
		transform: translatey(-400px);
		opacity: 0;
	}
	80% {
		transform: translatey(0px);
		opacity: 1;
	}
	100% {
		transform: translatey(0px);
		opacity: 1;
	}
}
/*
 *banner Section Style end

 */
/*
 *Blog Section Style Start

 */

.blog {
	display: flex;
	margin-top: 130px;
}
.blog-button {
	padding: 0 30px 30px 30px;
	width: 312px;
	height: 312px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 24px;
	border-radius: 10px;
}
.blog-button > li {
	list-style: none;
}
.blog-button > li a {
	width: 252px;
	font-weight: 500;
	font-size: 20px;
	transition: all 0.4s ease;
}
.blog-button > li a:hover {
	background-color: #dd0000;
	color: #fff;
}
.blog-item {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}
.single-blog {
	border: 1px solid #e8e8e8;
	border-radius: 15px;
}
.single-blog img {
	width: 100%;
}
.thumbnail-text {
	padding: 20px;
}
.thumbnail-title {
	font-weight: 500;
	font-size: 16px;
	border: 1px solid #161616;
	border-radius: 5px;
	display: inline-block;
	padding: 4px 16px;
	cursor: pointer;
}
.thumbnail-sub {
	margin-top: 15px;
	color: #161616;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}
.blog-time-comment {
	display: flex;
	margin-top: 20px;
}
.time {
	margin-right: 30px;
	color: #161616b2;
}
.comment {
	color: #161616b2;
}
.clock {
	margin-right: 10px;
}
.blog-view-btn {
	text-align: center;
	display: none;
}
/*
 *Blog Section Style end
*/

/*
 *Footer Section Style Start
*/
footer {
	margin-top: 130px;
	padding: 130px 0;
}
.top-footer {
	padding-bottom: 50px;
}
.top-footer-text {
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	color: #fff;
	text-align: center;
}
.footer-menu,
.social-menu {
	padding-top: 50px;
}
.footer-menu > ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.footer-menu > ul li,
.social-menu > ul li {
	list-style: none;
}
.footer-menu > ul li a,
.social-menu > ul li a {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
}
.social-menu > ul {
	display: flex;
	justify-content: center;
}
.social-menu > ul li a {
	padding: 15px;
	color: #fff;
	transition: 0.3s ease-in;
	font-size: 30px;
	border-radius: 50%;
}

/*
 *Footer Section Style end
*/

/*
 *Upcoming Match Stylesheet Start
 */
.upcoming-match {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}
.single-match {
	width: 312px;
	padding: 50px 30px;
}
.flag {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
}
.flag h4 {
	margin: 0 20px;
}
.single-match .time {
	text-align: center;
}
.single-match .time .match-title {
	font-size: 20px;
	font-weight: 600;
	color: #1e1e1e;
	margin-bottom: 10px;
}
.single-match .time .match-time {
	font-weight: 400;
	font-size: 16px;
}
/*
 *Upcominh Match Stylesheet End
 */

/*
  *Tab View Responsive Start
  */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.container {
		width: 734px;
	}
	/*
	 *banner section responsive
	 */
	.banner-title {
		padding: 61px 2px 61px 76px;
	}
	.title {
		font-size: 40px;
		line-height: 50px;
	}
	.sub-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;

		padding-top: 10px;
	}
	.banner-image img {
		width: 100%;
		height: auto;
		position: relative;
		top: 58px;
		right: 17px;
		margin: 0;
	}
	.btn {
		width: 161px;
		padding: 12px 12px;
		margin-top: 20px;
	}
	/*
	 *Blog section responsive
	 */
	.blog {
		flex-direction: column;
		margin-top: 70px;
	}
	.blog-button {
		flex-direction: row;
		background: none;
		width: 100%;
		height: 0;
		margin-bottom: 30px;
	}
	.blog-button > li a {
		width: 230px;
	}
	.blog-item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}
	.blog-view-btn {
		text-align: center;
		display: block;
	}
	/*
	 *Footer Section responsive
	 */
	footer {
		margin-top: 70px;
		padding: 70px 0;
	}
	.top-footer {
		padding-bottom: 30px;
	}

	.footer-menu,
	.social-menu {
		padding-top: 30px;
	}

	/*
	 *upcoming-match responsive
	 */
	.upcoming-match {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
	}
}
/*
  *Tab View Responsive End
  */
/*
  *Mobile View Responsive Start
  */
@media screen and (min-width: 375px) and (max-width: 480px) {
	.container {
		width: 337px;
	}
	.margin {
		margin-top: 0;
	}
	.width-50 {
		width: 100%;
	}
	/*
	 *banner section responsive
	 */
	.banner {
		flex-direction: column;
	}
	.banner-title {
		padding: 28px 38px;
	}
	.title {
		font-size: 22px;
		line-height: 33px;
		text-align: center;
	}
	.sub-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		padding-top: 10px;
	}
	.banner-btn {
		display: block;
		margin: 0 auto;
	}
	.banner-image {
		text-align: center;
	}
	.banner-image img {
		width: 230px;
		height: auto;

		margin: 0 0 0 30px;
	}
	.btn {
		width: 161px;
		padding: 12px 12px;
		margin-top: 20px;
	}
	/*
	 *Blog section responsive
	 */
	.blog {
		flex-direction: column;
		margin-top: 24px;
	}
	.blog-button {
		flex-direction: column;
		width: 210px;
		height: 240px;
		margin-bottom: 30px;
		background: none;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.blog-button > li a {
		width: 230px;
		border: 1px solid #dd0000;
	}
	.blog-item {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
	}
	.blog-view-btn {
		display: none;
	}
	/*
	 *Footer Section responsive
	 */
	footer {
		margin-top: 24px;
		padding: 24px 0;
	}
	.top-footer {
		padding-bottom: 24px;
	}
	.top-footer-text {
		font-size: 22px;
	}
	.footer-menu ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-menu ul > li {
		margin: 10px 0;
	}
	.footer-menu > ul li a {
		font-weight: 400;
	}
	.footer-menu,
	.social-menu {
		padding-top: 24px;
	}

	/*
	 *upcoming-match responsive
	 */
	.upcoming-match {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 24px;
	}
}
/*
  *Tab View Responsive Start
  */
