/* 
 *Import Google fonts 
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*
 *Reset margin and padding
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
 *Common Style Start
 */
body {
	font-family: "Poppins", sans-serif;
}

.center {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.margin {
	margin-top: 50px;
}
.container {
	width: 1321px;
}
.width-50 {
	width: 50%;
}
#active-btn {
	background: #dd0000;
	color: #fff;
}
.bg-color {
	background: #1e1e1e;
}
.bg-color-2 {
	background-color: #fff;
}
hr {
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.btn {
	display: inline-block;
	width: 252px;
	text-align: center;
	padding: 16px 25px;
	font-weight: 400;
	font-size: 20px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	color: #161616;
}
/*
 *Common Style End
 */

/*
 *banner Section Style Start
 */
.radius {
	border-radius: 10px;
}

/*
  *banner text 
  */
.banner {
	display: flex;
}
.banner-title {
	padding: 110px 0 110px 105px;
	animation: banner-title 3s;
}
.title {
	color: #fff;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
}
.sub-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	padding-top: 20px;
}
.icon {
	margin-left: 10px;
}
.icon i {
	font-weight: 600;
	font-size: 20px;
}
/*
 *banner image
 */
.banner-image img {
	width: 581px;
	height: 613px;
	margin: 33px 80px 0 0;
	animation: banner-img 3s;
}
/*
 *banner Animation
 */
@keyframes banner-title {
	0% {
		transform: translatex(400px);
		opacity: 0;
	}

	100% {
		transform: translatex(0px);
		opacity: 1;
	}
}
@keyframes banner-img {
	0% {
		transform: translatey(-400px);
		opacity: 0;
	}
	80% {
		transform: translatey(0px);
		opacity: 1;
	}
	100% {
		transform: translatey(0px);
		opacity: 1;
	}
}
/*
 *banner Section Style end

 */
/*
 *Blog Section Style Start

 */

.blog {
	display: flex;
	margin-top: 130px;
}
.blog-button {
	padding: 0 30px 30px 30px;
	width: 312px;
	height: 312px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 24px;
}
.blog-button > li {
	list-style: none;
}
.blog-button > li a {
	width: 252px;
	font-weight: 500;
	font-size: 20px;
	transition: all 0.4s ease;
}
.blog-button > li a:hover {
	background-color: #dd0000;
	color: #fff;
}
.blog-item {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}
.thumbnail-text {
	padding: 20px;
}
.thumbnail-title {
	font-weight: 500;
	font-size: 16px;
	border: 1px solid #161616;
	border-radius: 5px;
	display: inline-block;
	padding: 4px 16px;
	cursor: pointer;
}
.thumbnail-sub {
	margin-top: 15px;
	color: #161616;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}
.blog-time-comment {
	display: flex;
	margin-top: 20px;
}
.time {
	margin-right: 30px;
	color: #161616b2;
}
.comment {
	color: #161616b2;
}
.clock {
	margin-right: 10px;
}
/*
 *Blog Section Style end
*/

/*
 *Footer Section Style Start
*/
footer {
	margin-top: 130px;
	padding: 130px 0;
}
.top-footer {
	padding-bottom: 50px;
}
.top-footer-text {
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	color: #fff;
	text-align: center;
}
.footer-menu,
.social-menu {
	padding-top: 50px;
}
.footer-menu > ul {
	display: flex;
	justify-content: space-evenly;
}
.footer-menu > ul li,
.social-menu > ul li {
	list-style: none;
}
.footer-menu > ul li a,
.social-menu > ul li a {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	color: #b9b9b9;
}
.social-menu > ul {
	display: flex;
	justify-content: center;
}
.social-menu > ul li a {
	padding: 15px;
	color: #fff;
	transition: 0.3s ease-in;
	font-size: 30px;
	border-radius: 50%;
}

/*
 *Footer Section Style end
*/

/*
 *Upcominh Match Stylesheet Start
 */
.upcoming-match {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}
.single-match {
	width: 312px;
	padding: 50px 30px;
}
.flag {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
}
.flag h4 {
	margin: 0 20px;
}
.single-match .time {
	text-align: center;
}
.single-match .time .match-title {
	font-size: 20px;
	font-weight: 600;
	color: #1e1e1e;
	margin-bottom: 10px;
}
.single-match .time .match-time {
	font-weight: 400;
	font-size: 16px;
}
/*
 *Upcominh Match Stylesheet End
 */
